# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

API_KEY_CURRENCY=*Ваш API-ключ*     # API для сервиса конвертации валют
API_KEY_STOCK=*Ваш API-ключ*        # API для сервиса конвертации акций